

.container {
    display: block;
}

.row {
    display: flex;
}

.col {
    margin: auto;
}

body {
    background-color: #005fb3;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #FFE76A;
    padding: 0.5em 1em;
}

section {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    margin-left: 100px;
    font-size: 34px;
    line-height: 30px;
    color: #005db3;
}

h3 {
    color: #FFE76A;
}

li {
    height:52px;
}

.li-div {
    display:inline-block;
    color: #FFE76A;
    width:95px;
    margin: 10px;
}
.li-div-holder {
    display:inline-block;
    color: #FFE76A;
}
.li-div button {
    width: 100%;
}

#title-div {
    display:inline-block;
    color: #ffe76a;
    width: 300px;
}

.completed-txt {
    /*background-color: #005fb3;*/
    text-decoration: line-through;
    color: #FFE76A;
}

#count-label {
    display: inline-block;
    color: #FFE76A;
    margin-left: 40px;
    /*padding: 10px;*/
    /*margin-top: 20px;*/
}
#top-div {
    height:55px;
}
#comp-but-div {
    display:inline-block;
    margin-left: 40px;
}
#todo-list {
    list-style-type: none;
}

.completed-btn {
    border-radius: 3px;
}

button {
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10px;
}

/* checkbox */
#toggle-all input{
    visibility: hidden;
    display:block;
    height:0;
    width:0;
    position:absolute;
    overflow:hidden;
}

#toggle-all {
    display: flex;
    margin-top: 10px;
    background: #FFF;
}

#toggle-all span {
    background: #FFE76A;
    text-align: center;
    width: 50px;
    padding-top: 10px;
    border-right: 0px;
    display: inline-block;
    vertical-align: bottom;
    color: #d9d9d9;
}

[type=checkbox]:checked + span i {
    color: #005FB3;
}

/* input */

#todo-form {
    padding-top: 10px;
    display: inline-block;
}

.main-input {
    color: #005FB3;
    background: #FFE76A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 0px;
    border: 0;
    /*border: solid 1px #dcdcdc;*/
    /*transition: box-shadow 0.3s, border 0.3s;*/
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
}

.main-input:focus {
    outline: none;
    /*border: solid 1px #707070;*/
    /*box-shadow: 0 0 5px 1px #969696;*/
}
