
/*general for layout*/
.container {
    display: block;
}

.row {
    display: flex;
}

.col {
    margin: auto;
}

body {
    background-color: #005fb3;
    font-family: sans-serif;
    margin: 0;
}

/*header*/
header {
    background-color: #FFE76A;
    padding: 0.5em 1em;
}

h1 {
    display: block;
    margin-left: 100px;
    font-size: 34px;
    line-height: 30px;
    color: #005fb3;
}

.li-div {
    color: #005fb3;
    display:flex;
    margin-left: 20px;
    width: 520px;
    background: #FFE76A;
}

.li-div-holder {
    display:inline-block;
    color: #FFE76A;
}

#title-div {
    display:inline-block;
    color: #ffe76a;
    width: 500px;
}

#top-div {
    height:55px;
}
#comp-but-div {
    display:inline-block;
    margin-left: 40px;
}
#todo-list {
    list-style-type: none;
}

.completed-btn {
    border-radius: 3px;
}

button {
}
/* todo list */

#todo-list {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* checkbox */
.toggle input {
    visibility: hidden;
    display:block;
    height:0;
    width:0;
    position:absolute;
    overflow:hidden;
}

#toggle-all {
    margin-top: 10px;
}

.toggle {
    display: flex;
}

.delete-button {
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    width: 50px;
}

.todo-label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-left: 10px;
    width: 75%;
    text-align: left;
    line-height: 35px;
}

.toggle span {
    background: #FFE76A;
    text-align: center;
    width: 50px;
    padding-top: 10px;
    border-right: 0px;
    display: inline-block;
    vertical-align: bottom;
    color: #d9d9d9;
}

span i {
    color: #d9d9d9;
}

.delete-button:hover i {
    color: #FF0000;
}

/*span:hover {
background-color: #FF0000;
}*/

[type=checkbox]:checked + span i {
    color: #005FB3;
}

/* input */

#todo-form {
    padding-top: 10px;
    display: inline-block;
    width: 450px
}

.main-input {
    color: #005FB3;
    background: #FFE76A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 0px;
    border: 0;
    /*border: solid 1px #dcdcdc;*/
    /*transition: box-shadow 0.3s, border 0.3s;*/
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
}

.main-input:focus {
    outline: none;
}

/*bottom button container*/
.button-container {
    color: #005fb3;
    display:flex;
    margin-left: 20px;
    width: 520px;
    background: #FFE76A;
}

.button {
    min-width: 80px;
    padding: 0;
    background: transparent;
    border-radius: 1px;
    border-style: dotted;
    border-color: rgba(175, 47, 47, 0.2);
    color: #005FB3;
}

.button {
}

#count-label {
    display: inline-block;
    color: #005FB3;
    padding: 10px;
    min-width: 100px;
    /*margin-top: 20px;*/
}

.filter-buttons {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clear-completed-div {
    min-width: 120px;
    border: 0;
    padding: 0;
    display: flex;
}

.selected-filter, .button:hover {
    border-radius: 1px;
    border-style: solid;
    border-color: rgba(175, 47, 47, 0.2);
}

#clear-completed  {
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    color: #005FB3;
    outline: none;
}

#clear-completed:hover {
    text-decoration: underline;
}
